{% extends 'main.html' %}

{% block content %}

{% if request.user.is_authenticated %}

<div id="new-task">
    <a href="{% url 'create-todo-task' %}">New Task</a>
</div>

<div id="search-tasks-form">
    <form method="GET" action="{% url 'home' %}">
        <input type="text" name="q" placeholder="Search Tasks..." />
    </form>
</div>

<div id="search-tasks-results">
    <div id="search-tasks-results-count">{{todo_tasks_count}} tasks available.</div>
    <div id="search-tasks-results-items">
        {% for todo_task in todo_tasks %}
        <div id="search-tasks-results-item">
            <a href="{% url 'update-todo-task' todo_task.id %}" class="search-tasks-results-item-action-link"><i
                    class="material-icons"><i class="material-icons">edit</i></i></a>
            <a href="{% url 'delete-todo-task' todo_task.id %}" class="search-tasks-results-item-action-link"><i
                    class="material-icons">delete</i></a>
            <a href="{% url 'todo-task' todo_task.id %}" class="search-tasks-results-item-action-link"><i
                    class="material-icons">remove_red_eye</i></a>
            <span>{{todo_task}}</span>
        </div>
        {% endfor %}
    </div>
</div>

{% else %}

<div id="todo-home-need-login">
    <div>Welcome to the Todo application.</div>
    <br>
    <div>Please log in to see your tasks.</div>
</div>

{% endif %}

{% endblock content %}