{% extends 'main.html' %}

{% block content %}

<div class="home-container">
    <h1>Home Template</h1>

    <div>
        <h3>Search Tasks</h3>
        <form method="GET" action="{% url 'home' %}">
            <input type="text" name="q" placeholder="Search Task..." />
        </form>
    </div>

    <a href="{% url 'create-todo-task' %}">Create Task</a>

    <div>
        <h3>{{todo_tasks_count}} tasks available.</h3>
        {% for todo_task in todo_tasks %}
        <div>
            <a href="{% url 'update-todo-task' todo_task.id %}">Edit</a>
            <a href="{% url 'delete-todo-task' todo_task.id %}">Delete</a>
            <h5>{{todo_task}}</h5>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}